## Initial Import:

In [60]:
import pandas as pd
from datetime import datetime
import os    
from dotenv  import load_dotenv
from pathlib import Path
%matplotlib inline

## Importing Data from Yahoo Finance and Checking Data Quality:

##### **<span style=color:red>  Install yfinance:**

In [61]:
# !pip install yfinance
import yfinance as yf

### U.S. Dollar Index (USDX) Futures Contract (DX=F):

In [62]:
yf_dollar_df = yf.download("DX=F", start="2017-01-01", end="2020-12-31")

# Checking Data Quality:
print(yf_dollar_df.dtypes)
print("\n")
print(yf_dollar_df.shape)
print("\n")
print(yf_dollar_df[yf_dollar_df.duplicated(keep=False)]) #False: Mark all duplicates as True
print("\n")
print(yf_dollar_df.isnull().sum())
print("\n")
print(yf_dollar_df.tail())

[*********************100%***********************]  1 of 1 downloaded
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object


(1000, 6)


Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []


Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


             Open   High    Low  Close  Adj Close  Volume
Date
2020-12-21  90.04  90.95  89.93  89.95      89.95   39253
2020-12-22  90.10  90.62  89.95  90.55      90.55   21871
2020-12-23  90.54  90.58  90.05  90.34      90.34   27553
2020-12-28  90.26  90.32  89.89  90.28      90.28   10826
2020-12-30  89.86  89.90  89.67  89.71      89.71    6347

### Gold Futures Contract (GC=F):

In [63]:
yf_gold_df = yf.download("GC=F", start="2017-01-01", end="2020-12-31")

# Checking Data Quality:
print(yf_gold_df.dtypes)
print("\n")
print(yf_gold_df.shape)
print("\n")
print(yf_gold_df[yf_gold_df.duplicated(keep=False)]) #False: Mark all duplicates as True
print("\n")
print(yf_gold_df.isnull().sum())
print("\n")
print(yf_gold_df.tail())

[*********************100%***********************]  1 of 1 downloaded
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object


(1079, 6)


Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []


Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


              Open    High     Low   Close  Adj Close  Volume
Date
2020-12-22  1882.2  1882.2  1861.0  1866.6     1866.6     233
2020-12-23  1867.0  1878.8  1864.5  1874.7     1874.7      82
2020-12-28  1895.5  1895.8  1873.7  1877.2     1877.2      75
2020-12-29  1881.3  1881.3  1879.7  1879.7     1879.7      75
2020-12-30  1881.8  1890.1  1880.6  1882.0     1882.0   37902

### Bitcoin USD (BTC-USD):

In [64]:
yf_cyindex_df = yf.download("CMI10.SW", start="2017-01-01", end="2020-12-31")

[*********************100%***********************]  1 of 1 downloaded

In [65]:
yf_bitcoin_df = yf.download("BTC-USD", start="2017-01-01", end="2020-12-31")

# Checking Data Quality:
print(yf_bitcoin_df.dtypes)
print("\n")
print(yf_bitcoin_df.shape)
print("\n")
print(yf_bitcoin_df[yf_bitcoin_df.duplicated(keep=False)]) #False: Mark all duplicates as True
print("\n")
print(yf_bitcoin_df.isnull().sum())
print("\n")
print(yf_bitcoin_df.tail())

[*********************100%***********************]  1 of 1 downloaded
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object


(1461, 6)


Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []


Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


                Open      High       Low     Close  Adj Close       Volume
Date
2020-12-26  24677.02  26718.07  24522.69  26437.04   26437.04  48332647295
2020-12-27  26439.37  28288.84  25922.77  26272.29   26272.29  66479895605
2020-12-28  26280.82  27389.11  26207.64  27084.81   27084.81  49056742893
2020-12-29  27081.81  27370.72  25987.30  27362.44   27362.44  45265946774
2020-12-30  27792.21  28533.95  27445.65  27966.38   27966.38  52053024768

### Other Data: S&P 500 Index (^GSPC)ï¼š

In [66]:
yf_sp500_df = yf.download("^GSPC", start="2017-01-01", end="2020-12-31")

# Checking Data Quality:
print(yf_sp500_df.dtypes)
print("\n")
print(yf_sp500_df.shape)
print("\n")
print(yf_sp500_df[yf_sp500_df.duplicated(keep=False)]) #False: Mark all duplicates as True
print("\n")
print(yf_sp500_df.isnull().sum())
print("\n")
print(yf_sp500_df.tail())

[*********************100%***********************]  1 of 1 downloaded
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object


(1005, 6)


Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []


Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


               Open     High      Low    Close  Adj Close      Volume
Date
2020-12-22  3698.08  3698.26  3676.16  3687.26    3687.26  4023940000
2020-12-23  3693.42  3711.24  3689.28  3690.01    3690.01  3772630000
2020-12-24  3694.03  3703.82  3689.32  3703.06    3703.06  1885090000
2020-12-28  3723.03  3740.51  3723.03  3735.36    3735.36  3527460000
2020-12-29  3750.01  3756.12  3723.31  3727.04    3727.04  3387030000

## Importing Data from Investing by Reading CSV:

### Other Data: M2 US Money Supply:

In [67]:
csvpath = Path("Resources/M2.csv")
m2_df = pd.read_csv(csvpath, index_col="DATE", parse_dates=True, infer_datetime_format=True).sort_values("DATE")
m2_df.rename(columns={"M2" : "M2(billions)"}, inplace=True)

# Checking Data Quality:
print(m2_df.dtypes)
print("\n")
print(m2_df.shape)
print("\n")
print(m2_df[m2_df.duplicated(keep=False)]) #False: Mark all duplicates as True
print("\n")
print(m2_df.isnull().sum())
print("\n")
print(m2_df.tail())

M2(billions)    float64
dtype: object


(206, 1)


Empty DataFrame
Columns: [M2(billions)]
Index: []


M2(billions)    0
dtype: int64


            M2(billions)
DATE
2020-11-09       19067.1
2020-11-16       19108.4
2020-11-23       19120.7
2020-11-30       18998.0
2020-12-07       19226.1

## Rename Columns & Copy Original DataFrames with Selected Columns:

In [68]:
# Rename Columns:
selected_dollar_df = yf_dollar_df.copy()
selected_dollar_df.columns = [('dollar_'+ column) for column in selected_dollar_df.columns]
# Selected Columns:
selected_dollar_df = selected_dollar_df.iloc[:,[-2,-1]]
selected_dollar_df.tail(3)

            dollar_Adj Close  dollar_Volume
Date
2020-12-23             90.34          27553
2020-12-28             90.28          10826
2020-12-30             89.71           6347

In [69]:
# Rename Columns:
selected_gold_df = yf_gold_df.copy()
selected_gold_df.columns = [('gold_'+ column) for column in selected_gold_df.columns]
# Selected Columns:
selected_gold_df = selected_gold_df.iloc[:,[-2,-1]]
selected_gold_df.tail(3)

            gold_Adj Close  gold_Volume
Date
2020-12-28          1877.2           75
2020-12-29          1879.7           75
2020-12-30          1882.0        37902

In [70]:
# Rename Columns:
selected_bitcoin_df = yf_bitcoin_df.copy()
selected_bitcoin_df.columns = [('bitcoin_'+ column) for column in selected_bitcoin_df.columns]
# Selected Columns:
selected_bitcoin_df = selected_bitcoin_df.iloc[:,[-2,-1]]
selected_bitcoin_df.tail(3)

            bitcoin_Adj Close  bitcoin_Volume
Date
2020-12-28           27084.81     49056742893
2020-12-29           27362.44     45265946774
2020-12-30           27966.38     52053024768

In [71]:
# Rename Columns:
selected_sp500_df = yf_sp500_df.copy()
selected_sp500_df.columns = [('sp500_'+ column) for column in selected_sp500_df.columns]
# Selected Columns:
selected_sp500_df = selected_sp500_df.iloc[:,[-2,-1]]
selected_sp500_df.tail(3)

            sp500_Adj Close  sp500_Volume
Date
2020-12-24          3703.06    1885090000
2020-12-28          3735.36    3527460000
2020-12-29          3727.04    3387030000

## Concatenating Selected DataFrames for Further  Analysis:

In [78]:
joined_df = pd.concat([selected_dollar_df, selected_gold_df, selected_bitcoin_df, selected_sp500_df], axis = 'columns', join='inner', sort=True)

## Calculating Historical Daily Returns:

In [76]:
joined_returns_df = pd.DataFrame()
joined_returns_df['dollar_return'] = joined_df['dollar_Adj Close'].pct_change()
joined_returns_df['gold_return'] = joined_df['gold_Adj Close'].pct_change()
joined_returns_df['bitcoin_return'] = joined_df['bitcoin_Adj Close'].pct_change()
joined_returns_df['sp500_return'] = joined_df['sp500_Adj Close'].pct_change()
joined_returns_df.dropna(inplace=True)
print(joined_returns_df.shape)
joined_returns_df.head()

(992, 4)

            dollar_return  gold_return  bitcoin_return  sp500_return
Date
2017-01-04      -0.004748     0.002930        0.106233      0.005722
2017-01-05      -0.011489     0.013662       -0.122410     -0.000771
2017-01-06       0.006698    -0.006612       -0.109712      0.003517
2017-01-09      -0.002935     0.009898        0.000698     -0.003549
2017-01-10       0.000883     0.000591        0.005372      0.000000