# Initial Import

In [17]:
import pandas as pd
from datetime import datetime
import os    
from dotenv  import load_dotenv
from pathlib import Path
%matplotlib inline

# Importing Data from Investing by Reading CSV:

## M2 US Money Supply:

In [18]:
csvpath = Path("Resources/M2.csv")
m2_df = pd.read_csv(csvpath, index_col="DATE", parse_dates=True, infer_datetime_format=True).sort_values("DATE")
m2_df.rename(columns={"M2" : "M2(billions)"}, inplace=True)
m2_df.tail()

            M2(billions)
DATE
2020-11-09       19067.1
2020-11-16       19108.4
2020-11-23       19120.7
2020-11-30       18998.0
2020-12-07       19226.1

# Importing Data from Yahoo Finance

<span style=color:red> Install yfinance:

In [19]:
# !pip install yfinance

In [20]:
import yfinance as yf

## S&P 500 (^GSPC)：

In [21]:
yf_sp500_df = yf.download("^GSPC", start="2017-01-01", end="2020-12-18")
print(yf_sp500_df.shape)
print(yf_sp500_df.isnull().sum())
yf_sp500_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(997, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

               Open     High      Low    Close  Adj Close      Volume
Date
2020-12-10  3659.13  3678.49  3645.18  3668.10    3668.10  4618240000
2020-12-11  3656.08  3665.91  3633.40  3663.46    3663.46  4367150000
2020-12-14  3675.27  3697.61  3645.84  3647.49    3647.49  4594920000
2020-12-15  3666.41  3695.29  3659.62  3694.62    3694.62  4360280000
2020-12-16  3696.25  3711.27  3688.57  3701.17    3701.17  4056950000

## Bitcoin USD (BTC-USD)

In [22]:
yf_bitcoin_df = yf.download("BTC-USD", start="2017-01-01", end="2020-12-18")
print(yf_bitcoin_df.shape)
print(yf_bitcoin_df.isnull().sum())
yf_bitcoin_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(1448, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

                Open      High       Low     Close  Adj Close       Volume
Date
2020-12-13  18806.77  19381.54  18734.33  19142.38   19142.38  25450468637
2020-12-14  19144.49  19305.10  19012.71  19246.64   19246.64  22473997681
2020-12-15  19246.92  19525.01  19079.84  19417.08   19417.08  26741982541
2020-12-16  19418.82  21458.91  19298.32  21310.60   21310.60  44409011479
2020-12-17  21308.35  23642.66  21234.68  22805.16   22805.16  71378606374

## Ethereum USD (ETH-USD):

In [23]:
yf_eth_df = yf.download("ETH-USD", start="2017-01-01", end="2020-12-18")
print(yf_eth_df.shape)
print(yf_eth_df.isnull().sum())
yf_eth_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(1448, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

              Open    High     Low   Close  Adj Close       Volume
Date
2020-12-13  568.61  593.78  564.57  589.66     589.66   9070377862
2020-12-14  589.78  590.49  577.12  586.01     586.01   8125837102
2020-12-15  586.02  596.25  580.63  589.36     589.36   9326645840
2020-12-16  589.38  636.64  582.04  636.18     636.18  15817248373
2020-12-17  636.15  673.83  628.75  642.87     642.87  25479532147

## US Dollar/USDX - Index - Cash (DX-Y.NYB)

In [24]:
yf_dollar_df = yf.download("DX-Y.NYB", start="2017-01-01", end="2020-12-18")
print(yf_dollar_df.shape)
print(yf_dollar_df.isnull().sum())
yf_dollar_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(994, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

             Open   High    Low  Close  Adj Close  Volume
Date
2020-12-11  90.74  91.04  90.62  90.98      90.98       0
2020-12-14  90.98  90.98  90.42  90.72      90.72       0
2020-12-15  90.69  90.82  90.42  90.47      90.47       0
2020-12-16  90.49  90.70  90.13  90.45      90.45       0
2020-12-17  90.27  90.27  89.73  89.82      89.82       0

## Gold Feb 21 (GC=F):

In [25]:
yf_gold_df = yf.download("GC=F", start="2017-01-01", end="2020-12-18")
print(yf_gold_df.shape)
print(yf_gold_df.isnull().sum())
yf_gold_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(1072, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

              Open    High     Low   Close  Adj Close  Volume
Date
2020-12-11  1838.5  1846.0  1829.1  1839.8     1839.8     109
2020-12-14  1835.5  1835.7  1822.7  1828.7     1828.7     258
2020-12-15  1833.5  1853.6  1833.2  1852.3     1852.3     961
2020-12-16  1856.5  1864.7  1850.5  1856.1     1856.1    1090
2020-12-17  1874.2  1896.2  1874.2  1887.2     1887.2     414

## Treasury Yield 10 Years:

In [26]:
yf_bond10_df = yf.download("^TNX", start="2017-01-01", end="2020-12-18")
print(yf_bond10_df.shape)
print(yf_bond10_df.isnull().sum())
yf_bond10_df.tail()

[*********************100%***********************]  1 of 1 downloaded
(989, 6)
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

             Open   High    Low  Close  Adj Close  Volume
Date
2020-12-11  0.893  0.900  0.873  0.893      0.893       0
2020-12-14  0.930  0.936  0.888  0.892      0.892       0
2020-12-15  0.901  0.925  0.901  0.923      0.923       0
2020-12-16  0.943  0.953  0.913  0.920      0.920       0
2020-12-17  0.921  0.945  0.892  0.930      0.930       0

## Candlestick with Volume:

In [27]:
from bokeh.models import BooleanFilter, CDSView, Select, Range1d, HoverTool, CrosshairTool
from bokeh.models.formatters import NumeralTickFormatter
from bokeh.layouts import gridplot
from bokeh.palettes import Category20
from bokeh.plotting import figure, output_file, show, ColumnDataSource

In [28]:
VBAR_WIDTH = 0.2
RED = Category20[7][6]
GREEN = Category20[5][4]

OtherGreen = "#1ED837"
OtherRed = "#F2583E"

BLUE = Category20[3][0]
BLUE_LIGHT = Category20[3][1]

ORANGE = Category20[3][2]
PURPLE = Category20[9][8]
BROWN = Category20[11][10]


def plot_candlesticks(df_input):
    
    stock = ColumnDataSource(data=dict(index=[], Date=[], Open=[], Close=[], High=[], Low=[], Volume=[]))
    stock.data = stock.from_df(df_input.reset_index())
    
    TOOLS = "pan,xwheel_zoom,box_zoom,hover,crosshair,undo,redo,reset,save"  #replace to wheelzoom, y 轴可调整但bar很大
    linked_crosshair = CrosshairTool(dimensions="both")
    BLUE = Category20[3][0]
    RED = Category20[7][6]
    W_PLOT = 1500
    H_PLOT = 600
    
    # Graph One
    p1 = figure(plot_width=W_PLOT, plot_height=H_PLOT, tools=TOOLS, active_scroll='xwheel_zoom', active_drag='pan',
               title="S&P500 Candlestick with Volume", toolbar_location='above')

    inc = stock.data['Close'] > stock.data['Open']
    dec = stock.data['Open'] > stock.data['Close']
    view_inc = CDSView(source=stock, filters=[BooleanFilter(inc)])
    view_dec = CDSView(source=stock, filters=[BooleanFilter(dec)])

    # map dataframe indices to date strings and use as label overrides
    p1.xaxis.major_label_overrides = {
        i+int(stock.data['index'][0]): date.strftime('%b %d') for i, date in enumerate(pd.to_datetime(stock.data["Date"]))
    }
    p1.xaxis.bounds = (stock.data['index'][0], stock.data['index'][-1])


    p1.segment(x0='index', x1='index', y0='Low', y1='High', color=RED, source=stock, view=view_inc)
    p1.segment(x0='index', x1='index', y0='Low', y1='High', color=GREEN, source=stock, view=view_dec)

    p1.vbar(x='index', width=VBAR_WIDTH, top='Open', bottom='Close', fill_color=BLUE, line_color=BLUE,
           source=stock,view=view_inc, name="price")
    p1.vbar(x='index', width=VBAR_WIDTH, top='Open', bottom='Close', fill_color=RED, line_color=RED,
           source=stock,view=view_dec, name="price")


    p1.legend.border_line_alpha = 0.5
    p1.legend.background_fill_alpha = 0.5
    p1.xaxis.major_label_orientation = 3.1415/4
    p1.x_range.range_padding = 0.05
    p1.xaxis.ticker.desired_num_ticks = 40
    p1.yaxis.formatter = NumeralTickFormatter(format='$ 0,0[.]000')
    p1.add_tools(linked_crosshair)
    
    # Select specific tool for the plot
    price_hover = p1.select(dict(type=HoverTool))

    # Choose, which glyphs are active by glyph name
    price_hover.names = ["price"]
    # Creating tooltips
    price_hover.tooltips = [("Datetime", "@Date{%Y-%m-%d}"),
                            ("Open", "@Open{$0,0.00}"),
                            ("Close", "@Close{$0,0.00}"),
                            ("Volume", "@Volume{($ 0.00 a)}")]
    price_hover.formatters = {"Date": 'datetime'}

    
    # Graph Two
    p2 = figure(x_axis_type="datetime", tools="", toolbar_location=None, plot_width=W_PLOT, 
                plot_height=200, x_range=p1.x_range)
    
    p2.xaxis.major_label_overrides = {
        i+int(stock.data['index'][0]): date.strftime('%b %d') for i, date in enumerate(pd.to_datetime(stock.data["Date"]))
    }
    
    p2.vbar(stock.data['index'], VBAR_WIDTH, stock.data['Volume'])
    
    p2.legend.border_line_alpha = 0.5
    p2.legend.background_fill_alpha = 0.5
    p2.xaxis.major_label_orientation = 3.14/4
    p2.xaxis.ticker.desired_num_ticks = 40
    p2.yaxis.formatter = NumeralTickFormatter(format='0,0[.]000')
    p2.add_tools(linked_crosshair)

    return gridplot([[p1],[p2]])

In [29]:
show(plot_candlesticks(yf_sp500_df))

C:\Users\LEON\anaconda3\envs\quantenv\lib\site-packages\bokeh\models\plots.py:764: UserWarning:
You are attempting to set `plot.legend.border_line_alpha` on a plot that has zero legends added, this will have no effect.

Before legend properties can be set, you must add a Legend explicitly, or call a glyph method with a legend parameter set.

  warnings.warn(_LEGEND_EMPTY_WARNING % attr)
C:\Users\LEON\anaconda3\envs\quantenv\lib\site-packages\bokeh\models\plots.py:764: UserWarning:
You are attempting to set `plot.legend.background_fill_alpha` on a plot that has zero legends added, this will have no effect.

Before legend properties can be set, you must add a Legend explicitly, or call a glyph method with a legend parameter set.

  warnings.warn(_LEGEND_EMPTY_WARNING % attr)

In [30]:
output_file("test_candlestick_volume.html", title="Candlestick with Volume")